@charset "UTF-8";
/*!
=========================================================
*  BOOM CSS Modifications - ICO Mintaki
=========================================================

/* - General Theme Changes ----------------- */
img.mediaright[title~=FTD] {
    border-bottom: 3px solid #4682b4;
    margin-bottom: 30px;
}
li.level0::marker {
    font-weight: bold;
    color: #b0c3d6;
}
a {
    color: #676767;
}
:focus {
    outline: none !important;
}
/*:active {
    background-color: #0b0b0b;
}*/
a:hover, a:active, a:focus {
    color: #F1F1F1;
    text-decoration: none;
}
body {
    color: #f5f5f5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    background-color: #0b0b0b;
}
.tm-background {
    background-image: url('http://ftd.gg/images/banner-alliance.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #0b0b0b;
}
.tm-main {
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 0px solid #FFFFFF;
}
.tm-middle {
    background-color: transparent;
}
.tm-sidebar {
    border-right: 0px solid #37393b;
}
.uk-grid {
    border: 1px solid #37393b;
    border-color: rgba(255,255,255,0.2);
    color: #f5f5f5;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 13px #000;
    background-color: rgba(0,0,0,0.4);
    background-image: url('https://ftd.gg/images/gradient70.png');
}
.uk-panel>a.dw-brand {
    color: #f1f1f1;
    padding: 4px 8px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#484848 0,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #444444;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    font-weight: 500;
}
a:hover>i.uk-icon-wrench {
    color: steelblue !important;
}
p {
    text-align: justify;
    /*padding-bottom: 15px;*/
}
#dw__toc {
    display: none;
}
pre.code {
    background-color: #171717;
    border: 1px solid #252525;
}
em.u {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: steelblue;
}

/* Elements */
h1, h2, h3, h4, h5, h6 {
    font-family: Economica;
    color: #649cce;
}
    h1 {
        text-transform: uppercase;
        font-size: 56px;
        color: rgb(119 157 189);
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
hr {
    border-top: 1px solid #37393b;
}

/* Navigation, Menu (top) */
i.uk-icon-coffee {
    display: none;
}
.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus, .uk-navbar-nav>li.uk-open>a {
    background-color: rgba(0,0,0,0.2);
}
.tm-navbar {
    color: #f5f5f5;
    background-color: transparent;
    background-image: url('https://ftd.gg/images/gradient70.png');
    background-repeat: repeat;
    border-bottom: 1px solid #37393b;
    border-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 13px #000;
    height: 125px;
    margin-bottom: 0px;
    padding: 0px;
}
.uk-navbar-brand {
    padding: 25px 15px !important;
}
.uk-navbar-brand:hover {
    color: #FFFFFF !important;
}
a.dw-navbar-brand {
    font-size: 40px;
    padding: 0px 0px;
    font-family: 'Economica';
    font-weight: bold;
    background-color: transparent;
    border: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0.0.8) !important;
    color: #c1c1c1;
    margin-top: 15px ;
}
#dw-navbar-menu {
    height: 40px;
    line-height: 40px;
    margin-top: 84px;
    position: relative;
    left: -328px;
    font-size: 15px;
}
#dw-navbar-menu > li {
    margin-left: -1px;
    border-left: 1px solid #37393b;
    border-right: 1px solid #37393b;
}
#dw-navbar-menu > li > a:hover, #dw-navbar-menu > li > a:focus, #dw-navbar-menu > li > a:active {
    border-radius: 0 !important;
    background-color: rgba(0,0,0,0.4) !important;
}
#dw-navbar-menu > li.level1 > span.curid {
    background-color: #252525;
    padding: 13px;
    font-size: 15px !important;
}
#dw-navbar-menu > li.level1 > span.curid > a:hover {
    color: #676767;
}
a.dw-brand {
    border: 1px solid #3d3d3d;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 13px #000;
}

/* Navigation, Menu (Left) */
/*.tm-nav > li > span.curid {
    margin-left: 14px;
}*/
ul.tm-nav.uk-nav {
    font-size: 25px;
    line-height: 26px;
    font-weight: bold;
    font-family: Economica;
    color: steelblue;
}
.tm-nav > li > a, .tm-nav > li > span.curid > a {
    color: #9D9D9D !important;
    text-decoration: none;
    -webkit-transition: color .4s ease-out;
    transition: color .4s ease-out;
    font-weight: normal;
    font-family: helvetica;
    font-size: 16px;
    border-bottom: 0px !important;
}
.tm-nav > li > a::before {
    -webkit-transition: border-color .4s ease-out;
    tranistion: border-color .4s ease-out;
}
.tm-nav > li > a:hover, .tm-nav > li > span.curid > a:hover {
    color: #F1F1F1;
    background-color: rgba(0,0,0,0.2) !important;
    border-left: .2em solid rgb(45,108,163) !important;
}
.tm-nav.uk-nav>li>span.curid>a {
    display: inline-block;
    border-left: 0.2em solid #848484;
    padding: 4px;
    padding-left: 10px;
    font-weight: bold;
    color: #848484!important;
    background-color: #252525;
    width: 100%;
}
.tm-nav.uk-nav>li>span.curid>a:hover {
    border-left: 0.2em solid #848484 !important;
    font-weight: bold;
    color: #a8b4bd;
    background-color: #252525 !important;
}
/*ul.tm-nav.uk-nav>li.level2::before {
    content: '\2013';
    position: fixed;
    color: #2b2b2b;
}*/
ul.tm-nav.uk-nav>li.level2>a {
    color: #ffffff !important;
}
ul.tm-nav.uk-nav>li.level2 {
    margin-left: 15px;
    /*border-left: 0 solid #2b2b2b;*/
}
ul.tm-nav.uk-nav>li.level2:hover {
    margin-left: 15px;
    border-left: 0 solid #41586b;
}
ul.tm-nav.uk-nav>li.level3 {
    margin-left: 30px;
    /*border-left: 0 solid #2b2b2b;*/
}
ul.tm-nav.uk-nav>li.level3:hover {
    margin-left: 30px;
    border-left: 0 solid #41586b;
}

/* User Menu */
bdi {
    font-family: Economica;
    font-size: 24px;
    font-weight: bold;
}
.uk-navbar-flip.uk-hidden-small > li {
    line-height: 75px;
    height: 75px;
}
.uk-navbar-flip.uk-hidden-small > li > a {
    line-height: 75px;
    height: 75px;
}
.uk-navbar-flip.uk-hidden-small > .uk-nav > .uk-navbar-nav > li > a {
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 0px;
    line-height: 22px;
    box-shadow: none !important;
}
.uk-navbar-flip.uk-hidden-small > .uk-nav > .uk-navbar-nav > li > a:focus,
.uk-navbar-flip.uk-hidden-small > .uk-nav > .uk-navbar-nav > li > a:active,
.uk-navbar-flip.uk-hidden-small > .uk-nav > .uk-navbar-nav > li > a:hover {
    background-color: rgba(0,0,0,0.2) !important;
    border-radius: 0px;
}
.uk-dropdown-navbar {
    margin-top: 1px;
    left: 0px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #131313;
    color: #f5f5f5;
    /*background-image: url(https://ftd.gg/images/gradient90.png);*/
    background-repeat: repeat;
    background-color: rgba(0,0,0,0.2);
}
ul.uk-nav.uk-nav-navbar > li > a.action.logout:hover {
    background-color: #2b2b2b !important;
    border-top: 1px solid #2b3e5f !important;
    border-bottom: 1px solid #2b3e5f !important;
}
ul.uk-subnav.uk-subnav-line > a.action.logout {
    line-height: 20px;
    background-color: rgba(43,43,43,0.75) !important;
    padding: 4px 14px;
    background-image: none;
    border-top: 1px solid transparent!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none;    
}

/* Buttons */
button, input {
    background-color: #333;
    border: 1px solid #171717;
    color: #6f6f6f;
    /*box-shadow: 2px 2px 0px #232323;*/
}
form.button.btn_secedit {
    margin: 10px;
}
a.action.edit, a.action.show, a.action.admin, a.action.logout, a.action.login {
    color: #f1f1f1;
    padding: 8px;
    border-radius: 0px;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#484848 0,#232323 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
    text-decoration: none;
    /*box-shadow: 2px 2px 4px #000;*/
}
a.action.edit:hover, a.action.show:hover, a.action.admin:hover, a.action.logout:hover, a.action.login:hover {
    color: #f1f1f1;
    padding: 8px;
    border-radius: 0px;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
    text-decoration: none;
    /*box-shadow: 2px 2px 4px #000;*/
}
.editButtons {
    margin: 10px 10px;
}
button.toolbutton {
    margin: 10px 1px;
}
#size__ctl>img {
    margin: 5px 3px 0px 3px;
}
.license {
    margin: 20px 0px;
}


/* - ADMIN AND CONFIG MENUS ---------------- */
svg:not(:root) {
    overflow: hidden;
    position: relative;
    left: -5px;
    top: 8px;
    fill: #2b9ee6;
}
#dw__toc {
    background: #222;
    border: 1px solid #2f2f2f;
    float: right;
    width: 200px;
    padding: 20px;
    margin-left: 35px;
}
/*table.inline {
    border: 0px;
    box-shadow: none;
    background-color: transparent;
}*/
#dw__configform>fieldset {
    background-color: transparent;
}
#config__manager fieldset {
    margin: 1em;
    width: auto;
    margin-bottom: 2em;
    background-color: #2b2b2b;
    color: #d6d6d6;
    padding: 0 1em;
    border: 1px solid #37393b;
}
#config__manager td.label span.outkey {
    font-size: 70%;
    margin-top: -1.7em;
    margin-left: -1em;
    display: block;
    background-color: #2f2f2f;
    color: #d4d4d4;
    float: left;
    padding: 0 .1em;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    filter: drop-shadow(1px 1px 1px #111);
}
#config__manager legend {
    font-size: 1.25em;
    filter: drop-shadow(1px 1px 1px #111);
    font-weight: bold;
    font-family: Economica;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#extension__manager .panelHeader {
    background-color: #171717;
    border-radius: 5px;
    border: 1px solid #252525;
}
#extension__list .legend > div {
    border-right: 1px solid #151515;
}
#extension__list ul.extensionList li {
    color: #d6d6d6;
    border-bottom: 1px solid #2b2b2b;
}
#acl__tree a.cur {
    background-color: #286ca3;
    font-weight: normal;
    padding: 0px 5px;
    color: #ffcfcf;
    border-radius: 2px;
}
#acl__detail div#acl__user {
    border: 1px solid #333;
}
#acl__tree {
    border: 1px solid #333;
    background-color: #171717;
    font-size: 16px;
}
#acl_manager table tr:hover {
    background-color: #00b4f5;
    color: #fdfdfd;
}
#extension__manager ul.tabs li.active a {
    background-color: none;
    border-bottom: solid 0px #eee;
}
#extension__list .legend div.popularity {
    background-color: #5f5f5f;
    border: 1px solid #212121;
}
#extension__list .legend div.popularity div {
    background-color: #00ff84;
}


/* - TEXT EDITOR --------------------------- */
textarea:focus {
    border: 0px;
}
textarea#wiki__text {
    background: #333;
    width: 700px;
    border: 1px solid #444;
    margin: 5px 1px;
}
div#draft__status {
    margin-top: 20px;
}
.cke_top, .cke_bottom {
    box-shadow: 0 1px 0 #4e4e4e inset;
    background-color: #444444 !important;
}
/*.cke_chrome {
    border: 1px solid #;
}*/
.cke_dialog_ui_input_text>input {
    background-color: #b1b1b1 !important;
}
*

/* - LOGIN --------------------------------- */
form#dw__login {
    background-color: rgba(55,55,55,0.33);
    border: 1px solid #252525;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #101010;
    min-height: 75px;
    color: #777;
    font-weight: bold;
    padding: 15px 15px;
    margin-bottom: 20px;
}
input:active, input:focus {
    border: 1px solid #252525;
}
fieldset.plugin_evesso {
    padding: 12px;
    border-top: 1px solid #37393b;
    font-weight: bold;
}
a.plugin_evesso_EveOnline {
    color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
    text-decoration: none;
    box-shadow: 2px 2px 5px #000;
}
legend {
    font-size: 20px !important;
    font-family: 'Economica' !important;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #d8d8d8;
    padding: 4px;
}
label.block {
    line-height: 30px;
}
button, input, optgroup, select, textarea {
    background-color: #333333;
    border: 1px solid #171717;
}
/*input:not([type=radio]):not([type=checkbox]), select, input#focus__this.edit {
    background-color: #252525;
    border: 1px solid #37393b;
    height: 30px;
    margin: 3px;
}
input[type=checkbox], input[type=radio] {
    background-color: #252525;
    border: 1px solid #37393b;
    height: 30px;
    margin: 3px;
}
button {
    margin-left: 5px;
    padding: 2px 4px;
    border: 1px solid #37393b;
    font-weight: bold;
    background-color: #252525;
}
a, .uk-link {
    color: #8fc3e2;
    text-decoration: none;
    cursor: pointer;
}*/

/* - PLUGINs ------------------------------- */
/* CORPHEADER WRAPS */
.wrap_corpinfo.plugin_wrap>div.table>table.inline>tbody>tr>th.col1.leftalign {
    font-size: 50px;
    font-family: 'Economica';
    color: white;
}
.wrap_corpinfo.plugin_wrap>div.table {
    border: 1px solid #252525;
    background: rgba(0,0,0,0.2);
}
/* WRAP DOCTRINES */
.wrap_doctrine.plugin_wrap>div.table>table.inline>tbody>tr>td.col1 {
    width: 450px;
}
.wrap_doctrine.plugin_wrap>div.table>table.inline {
    background: rgba(0,0,0,0.1);
}
/* WRAP */
span.wrap_lo {
    font-style: italic;
    color: #949494;
    background-color: #292929;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
}
div.wrap_column>div.sectionedit13>table>tbody>tr>td.col0 {
    color: #c7c7c7;
}
div.wrap_centeralign>.table.sectionedit7 {
    margin: auto;
    width: 240px;
}
.wrap_doc_desc.plugin_wrap {
    border: 1px solid #2b2b2b;
    padding: 5px 5px 0px 5px;
    color: #90a7b7;
    background-color: #212121;
    border-radius: 2px;
    margin: 0px 10px 0px 10px;
}
.wrap_link.plugin_wrap {
    background-color: rgb(51 51 51);
    border: 1px solid #424242;
    border-radius: 2px;
    float: right;
    width: 120px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    height: 20px;
    padding: 2px 10px;
}
.wrap_link.plugin_wrap>p {
    margin: auto;
}
.wrap_link.plugin_wrap>p>a {
    color: #808080;
}
.wrap_center.wrap_round.wrap_important.plugin_wrap {
    border: 1px solid #fff6cd;
    border-radius: 5px;
    padding: 30px 15px 0px 15px;
    font-size: 15px;
    color: #505050;
    width: 600px !important;
    background-color: rgb(241 255 179 / 90%);
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}
.wrap_center.wrap_round.wrap_info.plugin_wrap {
    border: 1px solid #4fb9ff;
    border-radius: 5px;
    padding: 30px 15px 0px 15px;
    font-size: 15px;
    color: #b8ecff;
    width: 600px !important;
    background-color: rgba(70,130,180,0.75);
    margin: auto;
}
.wrap_center.wrap_round.wrap_tip.plugin_wrap {
    margin: auto;
    color: darkgray;
    background-color: #212121;
    border: 1px solid #2d2d2d;
    padding: 30px 15px 0px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px !important;
}
    .wrap_center.wrap_round.wrap_tip_short.plugin_wrap {
        margin: auto;
        color: darkgray;
        background-color: #212121;
        border: 1px solid #2d2d2d;
        padding: 15px 15px 0px 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
.wrap_center.wrap_round.wrap_todo.plugin_wrap {
    margin: auto;
    padding: 20px 15px 0px 15px;
    color: #de6565;
    border: 1px solid #292929;
    background-color: #212121;
    width: 600px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrap_center.wrap_round.wrap_alert.plugin_wrap {
    margin: auto;
    position: sticky;
    top: 10px;
    color: #cccccc;
    background-color: rgb(189 88 88 / .75);
    border: 1px solid #de6565;
    border-radius: 5px;
    padding: 30px 15px 0px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px !important;
}
    .wrap_alert.wrap_short.plugin_wrap {
        margin: auto;
        color: #cccccc;
        background-color: rgb(189 88 88 / .75);
        border: 1px solid #de6565;
        border-radius: 5px;
        padding: 30px 10px 0px 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: bold;
    }
.wrap_center.wrap_round.wrap_download.plugin_wrap {
    margin: auto;
    color: darkgray;
    background-color: #212121;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    padding: 30px 15px 0px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px !important;
}
.wrap_center.wrap_round.wrap_help.plugin_wrap {
    margin: auto;
    color: #f1ffc5;
    background-color: #212121;
    border: 1px solid #fcffb9;
    border-radius: 3px;
    padding: 30px 15px 0px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
    /* start Recruiting Status */
    .wrap_closed.plugin_wrap {
        background-color: #ef5252;
        color: white;
        border-radius: 5px;
        border: 1px solid #ff1414;
        padding: 3px;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
    }
    .wrap_open.plugin_wrap {
        background-color: #47a947;
        color: white;
        border-radius: 5px;
        border: 1px solid #71ff71;
        padding: 3px;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
    }
    /* end Recruiting Status */
    /* start Resource List */
    .wrap_resource.plugin_wrap {
        background-color: rgb(31 31 31 / 85%);
        border: 1px solid #2d2d2d;
        border-radius: 3px;
        color: #808080;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        width: 75%;
        margin-right: auto;
        margin-bottom: 5px;
        /*margin: 0px 20px;*/
    }
    .wrap_resource.plugin_wrap>p>a:hover {
        color: #acb5ce!important;
    }
    .wrap_resource.plugin_wrap>p>a {
        color: #7cadf5!important;
    }
        .wrap_res.wrap_box.plugin_wrap {
            float: right;
            color: whitesmoke;
            border: 1px solid #505050;
            background-color: #424242;
            padding: 5px;
            line-height: 20px;
            height: 20px;
            margin-top: 2px;
        }
    .wrap_coded.plugin_wrap {
    margin-left: 15px;
    width: 425px; }
    /* end Resource List */
    /* start War Status */
    .wrap_warstatus.plugin_wrap {
        width: 250px;
        float: right;
        margin-left: 20px;
        text-align: justify;
    }
    div.wrap_warstatus.plugin_wrap>div.table>table.inline>tbody>tr.row1>td.col0 {
        color: #a74747;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    /*div.wrap_warstatus.plugin_wrap>div.table>table.inline {
        border: 1px solid #692f2f;
    }*/
    /* end War Status */
    /* start Table_right, Table_left */
    .wrap_table_right.plugin_wrap {
        color: #969696;
        border: 1px solid #232323;
        float: right;
        width: 300px;
        margin-left: 20px;
        margin-top: 40px;
    }
    .wrap_table_left.plugin_wrap {
    margin-right: auto;
    width: 275px;
    margin-bottom: 20px;
    }
    /* end Table_right, Table_left */
    /* start Definition Box */
    .wrap_def.wrap_box.plugin_wrap {
        margin: 15px 0px 15px 15px;
        color: #969696;
        background-color: rgb(29 28 28);
        padding: 12px 12px 12px 12px;
        border: 1px solid #232323;
        font-family: economica;
        font-size: 18px !important;
        float: right;
        width: 300px;
    }
    .wrap_definitions.plugin_wrap {
        margin: 0px 50px;
        background-color: rgb(39 39 39 / 50%);
        padding: 10px;
        border: 1px solid #2d2d2d;
    }
    /* end Definition Box */
    /* start Page Newcorp, Contacts */
    .wrap_newcorp_staff.plugin_wrap {
        float: right;
        width: 300px;
        margin-left: 10px;
        margin-top: 45px;
    }
    /* end Page Newcorp, Contacts */
/* start Indent Rules */
.wrap_indent1.plugin_wrap {
    margin-left: 30px;
}
    .wrap_indent1b.plugin_wrap {
        margin-left: 30px;
        border: 1px solid #292929;
        border-radius: 5px;
        padding: 10px;
        background-color: #191919;
    }
.wrap_indent2.plugin_wrap {
    margin-left: 60px;
}
    .wrap_indent2b.plugin_wrap {
        margin-left: 60px;
        border: 1px solid #292929;
        border-radius: 5px;
        padding: 10px;
        background-color: #191919;
    }
.wrap_indent3.plugin_wrap {
    margin-left: 90px;
}
    .wrap_indent3b.plugin_wrap {
        margin-left: 90px;
        border: 1px solid #292929;
        border-radius: 5px;
        padding: 10px;
        background-color: #191919;
    }
/* end Indent Rules */
    /* start Two Column Wrap */
    div.group.plugin_wrap {
        display: flex; /* this allows the columns to display side-by-side rather than dropping to a second line */
    }
    .wrap_moongroup.plugin_wrap {
        display: flex;
    }
    .wrap_half.wrap_column.wrap_left.plugin_wrap {
        flex: 1;
        width: 65%;
        margin: 0px 5px;
        padding: 0px;    
    }
    .wrap_half.wrap_column.wrap_right.plugin_wrap {
        flex: 1;
        width: 35%;
        margin: 0px 5px;
        padding: 0px;
    }
    .wrap_left.wrap_column.plugin_wrap {
    border-right: 1px solid #212121;
    padding: 0px 10px;
    color: #9a9a9a;
    width: 50%;
    }
    .wrap_right.wrap_column.plugin_wrap {
        border: 1px solid transparent;
        padding: 0px 10px;
        color: #9a9a9a;
        width: 50%;
    }
    /* end Two Column Wrap */
    /* start Page: About Us, Header Edits */
    h2#our_history, h2#join_us {
        background-color: rgb(51 51 51 / 50%);
        padding: 2px;
        border: 1px solid #353535;
    }
    /* end Page: About Us, Header Edits */
    /* start Corporation List, Header Edits */
    .wrap_center.wrap_round.wrap_corpbox.plugin_wrap {
        float: right;
        width: 300px;
        margin-left: 20px;
        margin-top: 60px;
    }
    /* end Corporation List, Header Edits */


/* Button Link */
a.urlextern {
    /*background-color: #2666b9;*/
    border-bottom: 1px solid #c8eaff;
    color: #80a5c3 !important;
    font-weight: normal !important;
    font-size: 12;
}
.plugin_button {
    width: 160px;
    height: 60px;
    margin: 1.2em;
    text-shadow: none;
    box-shadow: none;
    background-color: steelblue;
    border: 1px solid transparent;
    border-radius: 0px;
}
.plugin_button:hover {
    text-shadow: none;
    box-shadow: none;
    background-color: steelblue;
    border: 1px solid transparent;
}
span.plugin_button_text {
    font-family: economica;
    font-size: 25px;
    padding: 10px;
    color: lightsteelblue;
}
span.plugin_button_text:hover {
    color: #f3f3f3;
    border: 1px solid #569ae8;
}

/* Tables */
table {
    /*background-color: rgba(55,55,55,0.33);
    border: 1px solid #383838;
    box-shadow: 2px 2px 2px #101010;*/
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #676767;
}
thead {
    text-align: left;
}
td.col0, td.col1, td.col2 {
    padding: 10px 5px 5px 5px !important;
    vertical-align: text-top;
}
.handsontable table.htCore {
    color: #2d2d2d;
}
.table thead:first-child tr:first-child th {
    border-top: 0px;
    border-bottom: 1px solid #191919;
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    color: #484848;
    text-transform: uppercase;
    font-family: economica;
    font-size: 20px;
}
    /* Main page links in table */
    div.table.sectionedit1>table.inline {
        background-color: transparent;
        border: 0px;
        box-shadow: none;
    }
    /* Contacts list on About Us */
    div.table.sectionedit14>table.inline>tbody>tr>td.col1 {
        color: #4fb4e4; /* color for name column */
    }
    div.table.sectionedit14>table.inline>tbody>tr>td.col0 {
        color: darkgrey; /* color for title column */
    }
    /* Staff List on Directors page */
    div.table.sectionedit3>table.inline>tbody>tr>td.col0 {
        color: darkgrey;
    }
    div.table.sectionedit3>table.inline>tbody>tr>td.col1 {
        color: #b4e0f5;
    }
    div.table.sectionedit3>table.inline>tbody>tr>td.col2 {
        color: inherit;
    }
    div.table.sectionedit3>table.inline>tbody>tr>td.col3 {
        color: #4fb4e4;
    }
    div.wrap_moongroup.plugin_wrap>div.wrap_left.wrap_column.plugin_wrap>div.table.sectionedit7>table.inline>tbody>tr>td.col3 {
        color: #5084a9;
    }
    div.wrap_moongroup.plugin_wrap>div.wrap_right.wrap_column.plugin_wrap>div.table.sectionedit10>table.inline>tbody>tr>td.col3 {
        color: #5084a9;
    }
    div.wrap_moongroup.plugin_wrap>div.wrap_left.wrap_column.plugin_wrap>div.table.sectionedit7>table.inline>tbody>tr>td.col1 {
        color: #d8d8cf;
    }
    div.wrap_moongroup.plugin_wrap>div.wrap_right.wrap_column.plugin_wrap>div.table.sectionedit10>table.inline>tbody>tr>td.col1 {
        color: #d8d8cf;
    }
    div.wrap_moongroup.plugin_wrap>div.wrap_left.wrap_column.plugin_wrap>div.table.sectionedit7>table.inline>tbody>tr>td.col2 {
        color: #ffffd0;
    }
    div.wrap_moongroup.plugin_wrap>div.wrap_right.wrap_column.plugin_wrap>div.table.sectionedit10>table.inline>tbody>tr>td.col2 {
        color: #ffffd0;
    }
    /*table.inline>tbody>tr:hover {
        background-color: rgb(34 34 34 / 95%);
        color: white;
    }*/


/* Markdown Styles */
blockquote {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 15px 10px 25px;
    border-left: 5px solid #4682b4;
    font-size: 15px;
    background-color: rgb(64 62 62 / 66%);
    border-top: 1px solid #4682b4;
    border-bottom: 1px solid #4682b4;
    border-right: 1px solid #4682b4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
    div.no>p {
    padding: 0px;
    }
em {
    color: inherit;
}
b, strong {
    font-weight: 700;
    color: #8eccff;
}
code {
    color: #1d4396;
    font-size: 12px;
    white-space: nowrap;
    padding: 1px 4px;
    border: 1px solid #0d0d0d;
    border-radius: 3px;
    background: #8eccff;
}
p>a.urlextern {
    color: #c7d8e6 !important;
    font-weight: bold;
    font-size: 12;
}



/* -------------- Page Modifications --*/
img.media[title~=Moon_Mining] {
    float: left !important;
    top: 0 !important;
    margin-right: 20px;
    border: 0px solid #2b2b2b;
}